$Color-b: #333333;
$Color-b-b: #111111;
$Color-HZ: #4c009e;
$Color-HZ1: #f1f1f1;
$Color-HZ2: #4CAF50;
$Color-s: #f1f1f1;
$Color-f: #4c586b;
$Color-f-h: #4c586b;
$Color-f-hz: #f44336;
$Color-cor:45a049
